[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
bpython = "*"
tmuxp = "*"
coverage = "*"
pep8 = "*"
jupyter = "*"


[packages]



[requires]

python_version = "3.6"

